body{
	background: #3A4242
}
.container-fluid{
	padding-right:0;
	padding-left:0;
	margin-right:auto;
	margin-left:auto;
}
#top{
	padding-bottom: 0;
	margin-bottom: 0;
	height: auto;
	background-image: url("site.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#logo{
	margin-right: 10px;
	padding: 2px;
	border-radius: 5px;
	border-style: solid;
	border-width:thin;
}
#photo{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}