body{
	background: white;
	width: 100%;
}
.container-fluid{
	padding-right:0;
	padding-left:0;
	margin-right:auto;
	margin-left:auto;
}
#tglr{
	background: #D9D9D9;
}
div{width:100%;}
#top{
	padding-bottom: 0;
	margin-bottom: 0;
	height: auto;
	background-image: url("site.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;
}
#logo{
	margin-right: 10px;
	padding: 2px;
	border-radius: 5px;
	border-style: solid;
	border-width:thin;
	color: red;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
#photo{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#navb{
	background: rgba(0, 0, 40, .4);
}
#person{
	margin-top:10px;
	padding-left: 10px;
}
#cntr{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	
}
#chartbg{
	background-image: url("cloud.jpg");


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}